<main class='main'>
  {{#with data}}
    <div class='main__content'>
      <h1 class='title title--center'>
        Додати до плейлиста</h1>

      <ul class='track-list'>
        {{#each tracks}}
          <li class='track'>
            <img src='{{image}}' alt='{{name}}' />
            <div class='track__content'>
              <strong class='track__name'>{{name}}</strong>
              <em class='track__author'>{{author}}</em>
            </div>
            <a
              href='/spotify-playlist-add?playlistId={{playlistId}}&trackId = {{id}}'
              class='add-button'
            >
              <img src='/svg/add_button.svg' />
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/with}}
</main>